{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Soyez le Bienvenue</h1>
{% for i in 1..2 %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
{% endfor %}
{% endblock %}
